@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@600&family=Tangerine:wght@700&display=swap');

:root {
    --primary-color: #fdfcdc;
    --secondary-color: #9F7F7F;
    --secondary-color-accent: #bde0fe;
    --accent1-color: #ffafcc;
    --accent2-color: #cdb4db;
    --accent3-color: #cdb4db;

    --title-font: 'Tangerine', cursive;
    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Poiret-One', cursive;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #E8EEF2;
}

.app > * {
    font-family: var(--heading-font);
}

/* NavBar */
.NavBar {
    overflow: hidden;
    background-color: white;
    font-family: var(--heading-font);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

/* Links inside the bar */
.NavBar a{
    float: left;
    font-size: 16px;
    color: var(--secondary-color);
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.NavBar .logo {
    float: left;
}

/* Links inside the bar that is visited */
.NavBar a:visited{
    color: var(--secondary-color);
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden; 
}

/* Dropdown Button */
.NavBar button {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--secondary-color);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: right;
}

.nav-sign-in {
    border-radius: 5px;
    background-color: orange;
}

/* Hover on NavBar */
.NavBar a:hover, .NavBar button:hover{
    background-color: var(--secondary-color-accent);
}

/* Don't change color when hover on logo */
.NavBar .logo:hover {
    background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content{
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a{
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Photographer Card */
.photographer-card{
    margin-top: 20px;
    justify-content: center;
    padding: 50px;
}

/* Add Form */
.form{
    padding: 20px;
    margin: 20px;
    min-width: 600px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.form input[type=text], .form input[type=password]{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.form input[type=number]{
    width: 13%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.form label {
    display: inline;
}

.form button[type=submit]{
    background-color: #ffaaee;
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
}

.form button[type=submit]:hover{
    background-color: var(--accent1-color);
}

/* 404 Page Not Found */
.page-not-found {
    text-align: center;
    margin: auto;
    padding-top: 10%;
    font-size: 2em;
}

.page-not-found-msg {
    margin: 0; 
    display: flex;
    text-align: center;
    justify-content: center;
}

.page-not-found .back{
    margin-left: 10px;
    color: red;
}

.module2{
    display: flex;
    justify-content: center;
}

.module2 button{
    display: block;
}

.sign-in{
    display:flex;
    text-align: center;
    justify-content: center;
}

.sign-in button{
    margin-top: 20px;
    justify-content: center;

}
.add{
    display:flex;
    text-align: center;
    justify-content: center;
}
.delete{
    display:flex;
    text-align: center;
    justify-content: center;
}

.modify{
    display:flex;
    text-align:center;
    justify-content:center;
}